In [5]:
import pandas as pd

**Q1. List any five functions of the pandas library with execution.**

In [ ]:
# # 1. read_csv()
# # read the csv file into a DataFrame
# df = pd.read_csv("your_data.csv")

# # 2. head()
# # display the first 3 rows
# df.head(3)

# # 3. tail()
# # display the last 2 rows of DataFrame
# df.tail(2)

# # 4. describe()
# # Get summary statistics
# print(df.describe())

# # 5. sort_values()
# # Sort by the 'Age' column in descending order
# print(df.sort_values(by='Age', ascending=False))

**Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [22]:
df = pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
})

# Function to re-index the DataFrame
def reindex_dataFrame(df):
  #Create a new index starting from 1 and incrementing by 2
  new_index = range(1,2*len(df)+1,2)
  # set the new index
  df.index = new_index
  return df

# Re- index the DataFrame
df_reindexed = reindex_dataFrame(df)

# Print the re-indexed DataFrame
print("Re-indexed DataFrame:")
print(df_reindexed)

Re-indexed DataFrame:
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

**Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.**

In [25]:
df = pd.DataFrame({
    'Values':[10,20,30,40,50]
})

def sum_first_three(df):
  if len(df['Values']) >=3:
    sum_values = df['Values'].iloc[:3].sum()
    print(f'The sum of the first three value: {sum_values}')
  else:
    print("The DataFrame does not have at least three values.")

sum_first_three(df)

The sum of the first three value: 60

**Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.**

In [26]:
df = pd.DataFrame({
    'Text':["This is a sample text.", "Another example with more words."]
})

def add_word_count_column(df):
  df['Word_Count'] = df['Text'].str.split().apply(len)
  return df

result_df = add_word_count_column(df)
print(result_df)

                               Text  Word_Count
0            This is a sample text.           5
1  Another example with more words.           5

**Q5. How are DataFrame.size() and DataFrame.shape() different?**

**DataFrame.size():**   
The size() method returns the total number of elements in the DataFrame.
It counts both rows and columns, considering each cell as an individual element.
The result is a single integer representing the total size of the DataFrame.
Mathematically, size = number of rows Ã— number of columns.


**DataFrame.shape():**  
The shape attribute returns a tuple representing the dimensions of the DataFrame.
It provides information about the number of rows and the number of columns.
The result is a tuple in the format (number of rows, number of columns).

In [33]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Using size()
total_elements = df.size

# Using shape
num_rows, num_columns = df.shape

print(f"Total elements (size): {total_elements}")
print(f"Number of rows: {num_rows}, Number of columns: {num_columns}")

Total elements (size): 6
Number of rows: 3, Number of columns: 2

**Q6. Which function of pandas do we use to read an excel file?**

To read an Excel file in Pandas, you can use the `pd.read_excel()` function. This function allows you to load data from an Excel file (`.xls` or `.xlsx`) into a Pandas DataFrame.

**Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.**

In [34]:
df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.smith@example.org']
})

def extract_username(df):
  df['Username'] = df['Email'].str.split("@").str[0]
  return df

result_df = extract_username(df)
print(result_df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.org  jane.smith

**Q8. You have a Pandas DataFrame df with columns 'A' 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10 The function should return a new DataFrame that contains only the selected rows.**

For example, if df contains the following values:

<pre>
  A B C     
0 3 5 1    
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2


Your function should select the following rows: A B C
1 8 2 7
2 6 9 4
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.
</pre>

In [36]:
df = pd.DataFrame({
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
})

def filter_dataframe(df):
  filtered_df = df[(df['A']>5) & (df['B'] < 10)]
  return filtered_df

result_df = filter_dataframe(df)
print(result_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.**

In [39]:
df = pd.DataFrame({
    'Values':[10,15,20,25,30]
})
def calculate_statistics(df):
  statistics = {
      'mean':df['Values'].mean(),
      'median':df['Values'].median(),
      'std':df['Values'].std()
  }
  return statistics

result = calculate_statistics(df)
print(result)

{'mean': 20.0, 'median': 20.0, 'std': 7.905694150420948}

**Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.**

In [40]:
def calculate_moving_average(df):
  df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
  return df

# Create a sample DataFrame
df = pd.DataFrame({
  'Date': pd.date_range(start='2023-01-01', periods=10),
  'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
})

# Calculate moving average
df = calculate_moving_average(df)

# Print the DataFrame with the moving average
print(df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     15           12.5
2 2023-01-03     20           15.0
3 2023-01-04     25           17.5
4 2023-01-05     30           20.0
5 2023-01-06     35           22.5
6 2023-01-07     40           25.0
7 2023-01-08     45           30.0
8 2023-01-09     50           35.0
9 2023-01-10     55           40.0

**Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.**

<pre>
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.
</pre>

In [41]:
def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract the weekday names
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
sample_df = pd.DataFrame(data)

result_df = add_weekday_column(sample_df)
print(result_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

**Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.**

In [42]:
def filter_dates(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Select rows between '2023-01-01' and '2023-01-31'
    filtered_df = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

    return filtered_df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-10', '2023-02-01', '2023-01-20', '2023-01-31']}
sample_df = pd.DataFrame(data)

result_df = filter_dates(sample_df)
print(result_df)

        Date
0 2023-01-01
1 2023-01-10
3 2023-01-20
4 2023-01-31

**Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?**

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is `pandas`

In [43]:
import pandas as pd